.user-types {
}
.add-user {
  position: relative;
  float: right;
  clear: both;
  font-size: 27px;
  padding: 10px;
  border-radius: 20px;
  color: #6012a9;
  cursor: pointer;
}
.type-label {
  padding: 20px;
  #user-based {
    color: gray;
    padding: 0 20px;
  }
}
table {
  width: 100%;
}
.id-click {
  cursor: pointer;
  font-weight: bold;
  color: #6012a9;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td,
th {
  width: 17%;
}
.is-active {
  background-color: #55a955;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.un-active {
  color: darkorange;
  border: 1px solid;
  padding: 7px 12px;
  border-radius: 20px;
}
